#main-app {
  display: flex;
  justify-content: center;
  display: flex;
  gap: 24px;
  max-width: 1500px;
  padding: 32px 24px;
}

form {
  padding: 20px;
}

body {
  background-color: #f5f3f4;
}
#root {
  display: flex;
  justify-content: center;
}
#edit-side {
  padding-top: 2rem;
  width: 496px;
  height: 394.667px;
  aspect-ratio: auto 3 / 4;
}

button,
input[type="submit"],
input[type="reset"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type="text"],
select,
textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 4px;

  resize: vertical;
}
